.form {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.save {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 48px;
    font-weight: 700;
    flex-grow: 1;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
