$listWidth: 500px;

.main {
  width: $listWidth;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.img {
  width: 80px !important;
  height: 80px !important;
  object-fit: cover;
}

.list-item:first-child {
  color: orange;

  .img {
    width: $listWidth !important;
    height: 500px !important;
  }
}
